<!DOCTYPE html>
<html>
<head>
    <title>TopBiz - Responsive Corporate HTML5 Template</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Include All CSS -->
    <link rel="stylesheet" type="text/css" href="<%= includes_html %>css/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="<%= includes_html %>css/prettyPhoto.css"/>
    <link rel="stylesheet" type="text/css" href="<%= includes_html %>css/rticons.css"/>
    <link rel="stylesheet" type="text/css" href="<%= includes_html %>css/settings.css"/>
    <link rel="stylesheet" type="text/css" href="<%= includes_html %>css/jquery.heroCarousel.css"/>
    <link rel="stylesheet" type="text/css" href="<%= includes_html %>css/font-awesome.min.css"/>
    <link rel="stylesheet" type="text/css" href="<%= includes_html %>css/js-image-slider.css"/>
    <link rel="stylesheet" type="text/css" href="<%= includes_html %>css/slick.css"/>
    <link rel="stylesheet" type="text/css" href="<%= includes_html %>css/preset.css"/>
    <link rel="stylesheet" type="text/css" href="<%= includes_html %>css/style.css"/>
    <link rel="stylesheet" type="text/css" href="<%= includes_html %>css/responsive.css"/>
    <link rel="stylesheet" type="text/css" href="<%= includes_html %>css/animate.css"/>
    <link id="layout" rel="stylesheet" type="text/css" href="<%= includes_html %>css/colorpreset/wide.css"/>
    <link id="colorChem" rel="stylesheet" type="text/css" href="<%= includes_html %>css/colorpreset/light.css"/>
    <link id="colorsSet" rel="stylesheet" type="text/css" href="<%= includes_html %>css/colorpreset/color1.css"/>

    <!-- Favicon Icon -->
    <link rel="icon"  type="image/png" href="images/favicon.png">
    <!-- Favicon Icon -->

    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <![endif]-->
</head>
<body>

<!-- Start Loader -->
<div class="loaderWrap">
    <div id='loader'>
        <div class='diamond'></div>
        <div class='diamond'></div>
        <div class='diamond'></div>
    </div>
</div>
<!-- End Loader -->
<!-- Start Color Preset -->
<div class="presetArea hidden-xs">
    <div class="switch">
        <h5>Style <span>Selector</span></h5>
        <a href="#" id="switches"><i class="icon-cog-outline"></i></a>
    </div>
    <div class="accentColor">
        <p class="psTitle">Choose accent color:</p>
        <a href="color1" class="active color1"></a>
        <a href="color2" class="color2"></a>
        <a href="color3" class="color3"></a>
        <a href="color4" class="color4"></a>
        <a href="color5" class="color5 noMarginRight"></a>
        <a href="color6" class="color6"></a>
        <a href="color7" class="color7"></a>
        <a href="color8" class="color8"></a>
        <a href="color9" class="color9"></a>
        <a href="color10" class="color10 noMarginRight"></a>
    </div>
    <div class="colorChem">
        <p class="psTitle">Choose color scheme:</p>
        <a class="light active" href="light">Light</a>
        <a class="dark" href="dark">Dark</a>
    </div>
    <div class="layoutstyle">
        <p class="psTitle">Choose layout style:</p>
        <a class="layouta wide active" href="wide">
            <img class="normalLay" src="images/preset/lay1.png" alt="">
            <img class="hoverLay" src="images/preset/lay1h.png" alt="">
            <span>Wide</span>
        </a>
        <a id="boxLayout" class="layouta box" href="box">
            <img class="normalLay" src="images/preset/lay2.png" alt="">
            <img class="hoverLay" src="images/preset/lay2h.png" alt="">
            <span>Box</span>
        </a>
    </div>
    <div class="patterns">
        <p class="psTitle">Choose pattern:</p>
        <a href="bgOne" class="active bg1"></a>
        <a href="bgTwo" class="bg2"></a>
        <a href="bgThree" class="bg3"></a>
        <a href="bgFour" class="bg4"></a>
        <a href="bgFive" class="bg5"></a>
    </div>
</div>
<!-- End Color Preset -->
<!--================= Box Div Start ==================-->
<div class="boxWrapper">
    <!--================= Box Div Start ==================-->
    <!-- Header Area -->

<header class="headerArea">
    <div class="logo pull-left">
        <div class="logoImg">
            <a href="index.html"><img src="images/logo.png" alt=""></a>
        </div>
        <h2><a href="index.html">top<span>biz</span></a></h2>
    </div>
    <nav class="mainMenu pull-left">
        <div class="menuButton hidden-lg hidden-md">
            <span></span>
            <span></span>
            <span></span>
        </div>
        <ul>
            <li class="active hasChild"><a href="index.html">Home</a>
                <ul class="dropMenu">
                    <li><a href="index.html">Home One</a></li>
                    <li><a href="index2.html">Home Two</a></li>
                    <li><a href="index3.html">Home Three</a></li>
                    <li><a href="index4.html">Home Four</a></li>
                    <li><a href="dark.html">Dark Version</a></li>
                    <li><a href="box.html">Box Version</a></li>
                </ul>
            </li>
            <li class="hasChild"><a href="folio1.html">Gallery</a>
                <ul class="dropMenu">
                    <li><a href="folio1.html">Folio 1</a></li>
                    <li><a href="folio2.html">Folio 2</a></li>
                    <li><a href="folio2.html">Folio 3</a></li>
                    <li><a href="folioSingle.html">Folio Single</a></li>
                </ul>
            </li>
            <li class="hasChild"><a href="blogGrid.html">Blog</a>
                <ul class="dropMenu">
                    <li><a href="blogGrid.html">Blog Grid</a></li>
                    <li><a href="blogSidebar.html">Blog Sidebar</a></li>
                    <li><a href="blogSingle.html">Blog Single</a></li>
                </ul>
            </li>
            <li class="hasChild"><a href="#">Pages</a>
                <ul class="dropMenu">
                    <li><a href="member.html">member</a></li>
                    <li><a href="404.html">404</a></li>
                    <li class="hasChild"><a href="event.html">event</a>
                        <ul class="dropSub">
                            <li><a href="event.html">Event</a></li>
                            <li><a href="eventSingle.html">Event Single</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li><a href="about.html">about</a></li>
            <li><a href="contact.html">Contact</a></li>
        </ul>
    </nav>
    <div class="topSocial pull-right">
        <ul>
            <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a class="google" href="#"><i class="fa fa-google"></i></a></li>
        </ul>
    </div>
    <div class="clearfix"></div>
</header>

    <section class="sliderArea" data-currentslide="activRev_1">
        <div class="tp-banner1">
            <ul>
                <li data-transition="boxslide" data-slotamount="7" data-masterspeed="1000" >
                    <img src="images/home1/slider1.jpg"  alt="slidebg1"  data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">
                    <div class="tp-caption lightgrey_divider lft fadeout"
                         data-x="left"
                         data-y="235"
                         data-speed="1400"
                         data-start="1300"
                         data-easing="Power4.easeOut">
                        <p class="redCaption">Canary Analitics</p>
                    </div>
                    <div class="tp-caption lightgrey_divider lfr fadeout"
                         data-x="left"
                         data-y="266"
                         data-speed="1400"
                         data-start="1300"
                         data-easing="Power4.easeOut">
                        <h1 class="headCaption">+ Social</h1>
                    </div>
                    <div class="tp-caption lightgrey_divider lfl fadeout"
                         data-x="left"
                         data-y="395"
                         data-speed="1400"
                         data-start="1300"
                         data-easing="easeInOutElastic">
                        <p class="capItalic">
                            Analiza, estudia y vende
                        </p>
                    </div>
                    <div class="tp-caption lightgrey_divider lfb fadeout"
                         data-x="left"
                         data-y="460"
                         data-speed="1400"
                         data-start="1300"
                         data-easing="Power4.easeOut">
                        <a href="#" class="sliderBtn"><i class="icon-bulb"></i><span>Learn More</span></a>
                    </div>
                </li>
            </ul>
        </div>
    </section>

<%- body %>

<!-- Footer Section -->
<footer class="footerArea">
    <section class="footerTop commonSection">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-sm-12 col-xs-12 text-center">
                    <div class="footerContent">
                        <h2 class="wow fadeInUp" data-wow-duration="700ms" data-wow-delay="300ms">+34 777 777 777</h2>
                        <a class="wow fadeInUp" data-wow-duration="700ms" data-wow-delay="350ms" href="mailto:analiticscanary@gmail.com">Escríbenos!</a>
                        <p class="wow fadeInUp" data-wow-duration="700ms" data-wow-delay="400ms">ETSII,San Francisco de Paula, San Cristobal de La Laguna</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="copyRight">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-sm-12 col-xs-12 text-center wow fadeInUp" data-wow-duration="700ms" data-wow-delay="300ms">
                    <p>Copyright &copy; 2017 by Canary Analitics</p>
                </div>
            </div>
        </div>
    </section>
</footer>
<!--================= Box Div End ==================-->
</div>
<!--================= Box Div End ==================-->
<!--================= Back To Top ==================-->
<a href="#" id="backto"><img src="images/backto.png" alt=""></a>
<!-- Include All JS -->
<script type="text/javascript" src="<%= includes_html %>js/jquery.js"></script>
<script type="text/javascript" src="<%= includes_html %>js/bootstrap.js"></script>
<script type="text/javascript" src="<%= includes_html %>js/jquery.prettyPhoto.js"></script>
<script type="text/javascript" src="<%= includes_html %>js/mixer.js"></script>
<script type="text/javascript" src="<%= includes_html %>js/appear.js"></script>
<script type="text/javascript" src="<%= includes_html %>js/circle-progress.js"></script>
<script type="text/javascript" src="<%= includes_html %>js/modernizr.custom.js"></script>
<script type="text/javascript" src="<%= includes_html %>js/directionHover.js"></script>
<script type="text/javascript" src="<%= includes_html %>js/js-image-slider.js"></script>
<script type="text/javascript" src="<%= includes_html %>https://maps.googleapis.com/maps/api/js"></script>
<script type="text/javascript" src="<%= includes_html %>js/gmaps.js"></script>
<script type="text/javascript" src="<%= includes_html %>js/jquery.themepunch.tools.min.js"></script>
<script type="text/javascript" src="<%= includes_html %>js/jquery.themepunch.revolution.min.js"></script>
<script type="text/javascript" src="<%= includes_html %>js/wow.min.js"></script>
<script type="text/javascript" src="<%= includes_html %>js/slick.js"></script>
<script type="text/javascript" src="<%= includes_html %>js/theme.js"></script>
</body>
</html>
