<table width="200px" class="table table-striped table-bordered table-hover">
    <thead>
        <tr>
            <th class="estadisticas">Tweets</th>
            <th class="estadisticas">Original tweets</th>
            <th class="estadisticas">Respuestas</th>
            <th class="estadisticas">Retweets</th>
            <th class="estadisticas">Links/Imagenes</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <%= estadisticas[0] %>
            </td>
            <td>
                <%= estadisticas[1] %>
            </td>
            <td>
                <%= estadisticas[2] %>
            </td>
            <td>
                <%= estadisticas[3] %>
            </td>
            <td>
                <%= estadisticas[4] %>
            </td>
        </tr>
    </tbody>
</table>


<table width="200px" class="table table-striped table-bordered table-hover">
    <thead>
        <tr>
            <th class="estadisticas">Impacto</th>
            <th class="estadisticas">Followers por usuario</th>
            <th class="estadisticas">Tweets por usuario</th>
            <th class="estadisticas">Alcance</th>
            <th class="estadisticas">Usuarios</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <%= estadisticas[5] %>
            </td>
            <td>
                <%= estadisticas[6] %>
            </td>
            <td>
                <%= estadisticas[9] %>
            </td>
            <td>
                <%= estadisticas[8] %>
            </td>
            <td>
                <%= estadisticas[7] %>
            </td>
        </tr>
    </tbody>
</table>

<table width="200px" class="table table-striped table-bordered table-hover">
    <thead>
        <tr>
            <th class="estadisticas">Dispositivo</th>
            <th class="estadisticas">Usuarios</th>
        </tr>
    </thead>
    <tbody>
        <% for (let i = 0; i < estadisticas[10][0].length; i++) { %>
            <tr>
                <td>
                    <%= estadisticas[10][0][i] %>
                </td>
                <td>
                    <%= estadisticas[10][1][i]%>
                </td>
            </tr>
            <% } %>
    </tbody>
</table>

<table width="200px" class="table table-striped table-bordered table-hover">
    <thead>
        <tr>
            <th>Usuario</th>
            <th>Texto</th>
        </tr>
    </thead>
    <tbody>
        <% for (let i = 0; i < resultado.length; i++) { %>
            <tr>
                <td>
                    <%= resultado[i].user.screen_name %>
                </td>
                <td>
                    <%= resultado[i].text %>
                </td>
            </tr>
            <% } %>
    </tbody>
</table>
